<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.myapplication">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication">
        <activity android:name=".newmessage1"></activity>
        <activity android:name=".newmessage"></activity>
        <activity android:name=".Chatlog" />
        <activity android:name=".chatroom1" />
        <activity android:name=".room_chat" />
        <activity android:name=".driver_department_information2" />
        <activity android:name=".driver_department_information" />
        <activity android:name=".ProfilePage" />
        <activity android:name=".ProfileActivity" />
        <activity android:name=".room_lock" />
        <activity android:name=".room" />
        <activity android:name=".RegistrationActivity1" />
        <activity
            android:name=".homepage"
            android:label="@string/title_activity_homepage"
            android:theme="@style/Theme.MyApplication.NoActionBar" />
        <activity android:name=".choice" />
        <activity android:name=".Verify" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>